# Database Configuration
POSTGRES_USER=asdf
POSTGRES_PASSWORD=asdf
POSTGRES_DB=todos
POSTGRES_PORT=5432

# Rust App Connection String
# Format: postgres://<user>:<password>@<host>:<port>/<db>
DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:${POSTGRES_PORT}/${POSTGRES_DB}
#PORT=8000
#HOST=127.0.0.1